 <hr>

 <script>
   $(document).foundation().foundation('joyride', 'start');
 </script>
 </div>

 <div id="footer">
  (c) 2015 by Mundo Open Source - http://www.mundoopensource.com.br
 </div>
</div>
</body>
</div>
</html>

