$def with (header,footer,values,dropdown,data,dongles)
	$var head=header
		$:self.head

  <form action="/controle/" method="GET" id="dongle_control">
    <table border=0 style="border: 1px solid black;">
      <tr>
       <td>
        $var dataini=values['dataini']
        $var datafim=values['datafim']
         <div class="row">
          <div class="small-4 columns">
           <label><b>Canal GSM</b></label>
           $:dropdown
          </div>
          <div class="small-4 columns">
           <label><b>Data inicial</b></label>
           <input type="text" id="datepicker_ini" name="start" id="start" size="10" value=$self.dataini>
          </div>
          <div class="small-4 columns">
           <label><b>Data final</b></label>
           <input type="text" id="datepicker_fim" name="end" id="end" size="10" value=$self.datafim>
          </div>
        </td>
        <td>
          <input type="submit" class="button tiny" value="Buscar">
        </td>
      </tr>
    </table>
    </form>
  <br>

	<table border=0 style="border: 1px solid black;">
   <thead>
		<tr border=0>
			<th>Data</th>
			<th>Canal GSM</th>
			<th>GSM N&uacute;mero</th>
			<th>SMS enviados</th>
	   </tr>
    </thead>

		$for dia in data['dias']:

			$var id=dia['id']
			$var data=dia['data']
			$var dongle=dia['dongle']
			$var dongle_numero=dia['dongle_number']
			$var smsenviados=dia['smsenviados']

			$code:
		<tr border=0 class="$loop.parity">
			<td border=0>
				$self.data
			</td>
			<td border=0>
				$self.dongle
			</td>
			<td border=0>
				$self.dongle_numero
			</td>
			<td border=0>
				$self.smsenviados
			</td>
		</tr>
	</table>
	<br>
	$var foot=footer
		$:self.foot

