$def with (header,footer,data)
	$var head=header
		$:self.head

	<form name='dongles' id='dongles' post='dongles/?save=yes' method='get'>
		<table border=0 style="border: 1px solid black;">
     <thead>
			<tr border=0>
				<th>Id</th>
				<th>Canal GSM</th>
				<th>Ativo</th>
				<th>GSM N&uacute;mero</th>
				<th>IMEI</th>
				<th>Operadora</th>
				<th>Modelo</th>
				<th>Envia SMS</th>
				<th>Sinal</th>
       </tr>
      </thead>

			$for dongle in data['dongles']:

				$var id=dongle['id']
				$var dongle=dongle['dongle']
				$var ativo=dongle['ativo']
				$var number=dongle['number']
				$var imei=dongle['imei']
				$var provider=dongle['provider']
				$var model=dongle['model']
				$var sendsms=dongle['sendsms']
				$var sinal=dongle['sinal']

				$code:
					if dongle['ativo']:
						ativo_col='<input type="checkbox" name="%s_ativo" checked>' % dongle['id']
					else:
						ativo_col='<input type="checkbox" name="%s_ativo">' % dongle['id']

					if dongle['sendsms']:
						sendsms_col='<input type="checkbox" name="%s_sendsms" checked>' % dongle['id']
					else:
						sendsms_col='<input type="checkbox" name="%s_sendsms">' % dongle['id']
	
			<tr border=0 class="$loop.parity">
				<td border=0>
					$self.id
				</td>
				<td border=0>
					$self.dongle
					</td>
				<td border=0>
					$:ativo_col
				</td>
				<td border=0>
					$self.number
				</td>
				<td border=0>
					$self.imei
				</td>
				<td border=0>
					$self.provider
				</td>
				<td border=0>
					$self.model
				</td>
				<td border=0>
					$:sendsms_col
				</td>
				<td border=0>
					$self.sinal
				</td>
			</tr>
		</table>

		<br>
		<input type="submit" class="button tiny" value="Salvar">
	</form>
	$var foot=footer
		$:self.foot

