$def with (header,footer,values,data)
	$var head=header
		$:self.head

	<form action="/graf_stat/" method="GET" id="graf_stat">
   <table border=0 style="border: 1px solid black;">
      <tr>
       <td>
        $var dataini=values['dataini']
        $var datafim=values['datafim']
         <div class="row">
          <div class="small-6 columns">
           <label><b>Data inicial</b></label>
           <input type="text" id="datepicker_ini" name="start" id="start" size="10" value=$self.dataini>
          </div>
          <div class="small-6 columns">
           <label><b>Data final</b></label>
           <input type="text" id="datepicker_fim" name="end" id="end" size="10" value=$self.datafim>
          </div>
        </td>
        <td >
          <input type="submit" class="button tiny" value="Buscar">
        </td>
      </tr>
    </table>
    </form>
  <br>

	$var foot=footer
	$var graph=data['graph']
		$:self.graph
		$:self.foot

