$def with (header,footer,data)
	$var head=header
		$:self.head
  <form name="newgroup" method="post" action="/sms/newgroup.py" name="submit" enctype="multipart/form-data">
   <table border=0 style="border: 0px;">
	  <tr>
     <td>
      <label><b>Nome</b></label>
		 </td>
		 <td>
			<input type="text" id="name" name="name" maxlenght="50">
		 </td>
		 <td>
  		<input type="button" onClick="return validateNewGroup()" class="button tiny" value="Salvar novo grupo">
		 </td>
    </tr>
	 </table>
  </form>

	<table border=0 style="border: 1px solid black;" width="100%">
	 <thead>
		<tr border=0>
		 <th>Id</th>
		 <th>Criado em</th>
		 <th>&Uacute;ltima atualiza&ccedil;&atilde;o</th>
		 <th>Nome</th>
		 <th>No. membros</th>
		 <th></th>
		 <th></th>
		</tr>
	 </thead>

		$for grupo in data['grupos']:

			$var id=grupo['id']
			$var created=grupo['created']
			$var last_update=grupo['last_update']
			$var name=grupo['name']
			$var membersnum=grupo['membersnum']
			$var memberlink=grupo['memberlink']
			$var deletelink=grupo['deletelink']

		<tr border=0 class="$loop.parity">
			<td border=0>
				$self.id
			</td>
			<td border=0>
				$self.name
			</td>
			<td border=0>
				$self.created
			</td>
			<td border=0>
				$self.last_update
			</td>
			<td border=0 style='text-align: right;'>
				$self.membersnum
			</td>
			<td border=0>
				$:self.memberlink
			</td>
			<td border=0>
				$:self.deletelink
			</td>
		</tr>
	</table>
	<br>
	$var foot=footer
		$:self.foot

