$def with (header,footer,data)
	$var head=header
		$:self.head

	 <p>O grupo foi deletado
	</body>
  </html>
  <hr>
   <table border=0 style='border: 0px';>
	  <tr style='text-align: right;' width='100%'>
	   <td style='text-align: right;' width='100%' colspan=2>
	    <input type='button' onClick='window.location.href = "/group_list/";' class='button tiny' value='Volta para lista de grupos'>
	   </td>
	  </tr>
	 </table>

	$var foot=footer
		$:self.foot

