$def with (header,footer,data)
	$var head=header
		$:self.head
  <form name="newmember" method="post" action="/sms/newgroupitem.py" name="submit" enctype="multipart/form-data">
   <table border=0 style="border: 0px;">
	  <tr>
     <td>
      <label><b>Nome</b></label>
		 </td>
		 <td>
			<input type="text" id="name" name="name" maxlenght="100">
			$var group_id_hidden=data['group_id_hidden']
			 $:self.group_id_hidden
		 </td>
		 <td>
	     <td>
      <label><b>N&uacute;mero</b></label>
		 </td>
		 <td>
			<input type="text" id="number" name="number" maxlenght="20">
		 </td>
		 <td>
  		<input type="button" onClick="return validateNewGroupItem()" class="button tiny" value="Salvar novo membro">
		 </td>
    </tr>
	 </table>
  </form>

	<table border=0 style="border: 1px solid black;" width="100%">
	 <thead>
		<tr border=0>
		 <th>Id</th>
		 <th>N&uacute;mero</th>
		 <th>Nome</th>
		 <th></th>
		</tr>
	 </thead>

		$for membro in data['membros']:

			$var id=membro['id']
			$var name=membro['name']
			$var number=membro['number']
			$var deletelink=membro['deletelink']

		<tr border=0 class="$loop.parity">
			<td border=0>
				$self.id
			</td>
			<td border=0>
				$self.name
			</td>
			<td border=0>
				$self.number
			</td>
			<td border=0>
				$:self.deletelink
			</td>
		</tr>
	</table>
	<br>
	$var foot=footer
		$:self.foot

