$def with (header,footer,data)
	$var head=header
		$:self.head

	 <p>O membro do grupo foi deletado
	</body>
  </html>
  <hr>
   <table border=0 style='border: 0px';>
	  <tr style='text-align: right;' width='100%'>
	   <td style='text-align: right;' width='100%' colspan=2>
		 $var button=data['button']
		  $:self.button
	   </td>
	  </tr>
	 </table>

	$var foot=footer
		$:self.foot

