$def with (header,footer,data)
	$var head=header
		$:self.head
	<form name="uploadgroup" method="post" action="/sms/uploadgroup.py" name="submit" enctype="multipart/form-data">
  <table border=0 style="border: 0px solid black;" >
	 <tr>
	 	<td>
     Selecione o arquivo de texto, informe o nome do grupo e pressione salvar.<br>
     Aten&ccedil;&atilde;o: um nome e telefone por linha. Ex:<br>
		 (99)99999-9999,Fulano de Tal
		</td>
	 </tr>
	 <tr>
	  </td>
     <table border=0>
       <tr>  
				<td><b>Arquivo</b></td>
				<td><input type="file" name="filename"></td>
			</tr>
			<tr>
				<td><b>Nome do Grupo:</b></td>
				<td><input type="text" id="name" name="name" maxlength="50"></textarea></td>
			</tr>
      <tr style='text-align: right;' width="100%">
        <td style='text-align: right;' width="100%" colspan=2>
        <input type="button" onClick="return validateFormGroupUpload()" value="Salvar" class="button tiny">
       </td>
      </tr>
  	 </table>
	  </td>
	 </tr>
	</table>
	</form>
	$var foot=footer
		$:self.foot

