$def with (header,footer,values,data)
	$var head=header
	$var mensagem=data['mensagem']
		$:self.head
		$:self.mensagem
	<form action="/optout/" method="GET" id="optout">
    <table border=0 style="border: 1px solid black;">
      <tr>
       <td>
        $var dataini=values['dataini']
        $var datafim=values['datafim']
				$var numero=values['numero']
         <div class="row">
          <div class="small-4 columns">
           <label><b>N&uacute;mero</b></label>
						<input type='text' name='numero' id='numero' value=$self.numero>
          </div>
          <div class="small-4 columns">
           <label><b>Data inicial</b></label>
           <input type="text" id="datepicker_ini" name="start" id="start" size="10" value=$self.dataini>
          </div>
          <div class="small-4 columns">
           <label><b>Data final</b></label>
           <input type="text" id="datepicker_fim" name="end" id="end" size="10" value=$self.datafim>
          </div>
        </td>
        <td>
          <input type="submit" class="button tiny" value="Buscar">
        </td>
      </tr>
    </table>
    </form>
  <br>

	<table border=0 style="border: 1px solid black;">
   <thead>
		<tr border=0>
			<th>Id</th>
			<th>Data</th>
			<th>N&uacute;mero</th>
			<th>Tipo</th>
   	 </tr>
    </thead>

		$for optout in data['optouts']:

			$var id=optout['id']
			$var data=optout['data']
			$var number=optout['number']
			$var tipo=optout['tipo']

		<tr border=0 class="$loop.parity">
			<td border=0>
				$self.id
			</td>
			<td border=0>
				$self.data
			</td>
			<td border=0>
				$self.number
			</td>
			<td border=0>
				$self.tipo
			</td>
		</tr>
	</table>
	<form action="/newoptout/" method="GET" id="newoptout">
    <table border=0 style="border: 1px solid black;">
      <tr>
        <td>
          <label><b>Novo N&uacute;mero</b></label>
			  </td>
				<td>
        	$var novonumero=""
					<input type='text' name='novonumero' id='novonumero' size='11' value=$self.novonumero>
        </td>
        <td>
          <input type="submit" class="button tiny" value="Salvar">
        </td>
      </tr>
    </table>
    </form>
 
	<br>

	$var foot=footer
		$:self.foot

