$def with (header,footer,data)
	$var head=header
		$:self.head
 <form name="smsone" method="post" action="/sms/smsone.py" name="submit" enctype="multipart/form-data">
  <table border=0 style="border: 0px solid black;" >
   <tbody>
    <tr><td>
		 <table border=0>
		  <tbody>
			 <tr><td>
        <div class="row">
         <label><b>Agendamento (opcional)</b>
        </div>
        <div class="row">
         <div class="small-3 columns">
          <label><b>Data inicial</b></label>
          <input type="text" id="datepicker_ini" name="start" id="start" size="10">
         </div>
         <div class="small-3 columns">
          <label><b>Hora inicial</b></label>
          <input type="text" id="timepicker_ini" size="10" name='timestart'>
         </div>
         <div class="small-3 columns">
          <label><b>Data final</b></label>
          <input type="text" id="datepicker_fim" name="end" id="end" size="10"> 
         </div>
         <div class="small-3 columns">
          <label><b>Hora final</b></label>
          <input type="text" id="timepicker_fim" size="10" name='timeend'>
         </div>
        </div>
       </td></tr>
      </tbody>
     </table>		 
    </td></tr>
    <tr><td>
     <table border=0>
      <tbody>
       <tr>
        <td><b>N&uacute;mero</b></td>
        <td><input type="type" name="numero"></td>
       </tr>
       <tr>
        <td><b>Mensagem</b></td>
        <td><textarea rows="4" cols="80" id="mensagem" name="mensagem" maxlength="160"></textarea></td>
			</tr>
 	    <tr style='text-align: right;' width="100%">
  		  <td style='text-align: right;' width="100%" colspan=2>
      	<input type="button" onClick="return validateFormSmsOne()" class="button tiny" value="Enviar SMS avulso">
	      <td>
			 </tr>
      </tbody>
     </table>
   </tbody>
  </table>
 </form>

	$var foot=footer
		$:self.foot

