$def with (header,footer,values,dropdown,data,dongles)
	$var head=header
		$:self.head

	<form action="/recebidos/" method="GET" id="recebidos">
	  <table border=0 style="border: 1px solid black;">
  	  <tr>
       <td>
	$var dataini=values['dataini']
	$var datafim=values['datafim']
        $var telefone=values['telefone']

         <div class="row">
          <div class="small-3 columns">
           <label><b>Canal GSM</b></label>
		$:dropdown
	  </div>
          <div class="small-3 columns">
           <label><b>Data inicial</b></label>
           <input type="text" id="datepicker_ini" name="start" id="start" size="10" value=$self.dataini>
          </div>
          <div class="small-3 columns">
           <label><b>Data final</b></label>
           <input type="text" id="datepicker_fim" name="end" id="end" size="10" value=$self.datafim>
          </div>
          <div class="small-3 columns">
           <label><b>Telefone</b></label>
           <input type="text" id="telefone" name="telefone" size="15" value=$self.telefone>
          </div>
	 <td>
 	 <td>
	  <input type="submit" class="button tiny" value="Buscar">
 	 </td>
    	</tr>
	  </table>
		</form>
	<br>

	<table border=0 style="border: 1px solid black;" width="100%">
	 <thead>
		<tr border=0>
		 <th>Id</th>
		 <th>Data</th>
		 <th>Canal GSM</th>
		 <th>GSM N&uacute;mero</th>
		 <th>Destino</th>
		 <th>Mensagem</th>
		</tr>
	 </thead>

		$for smsrec in data['sms']:

			$var id=smsrec['id']
			$var data=smsrec['data']
			$var dongle=smsrec['dongle']
			$var dongle_number=smsrec['dongle_number']
			$var number=smsrec['number']
			$var message=smsrec['message']

		<tr border=0 class="$loop.parity">
			<td border=0>
				$self.id
			</td>
			<td border=0>
				$self.data
			</td>
			<td border=0>
				$self.dongle
			</td>
			<td border=0>
				$self.dongle_number
			</td>
			<td border=0>
				$self.number
			</td>
			<td border=0>
				$self.message
			</td>
		</tr>
	</table>
	<br>
	$var foot=footer
		$:self.foot

