$def with (header,footer,values,data)
	$var head=header
		$:self.head

	<form action="/smsresumo/" method="GET" id="smsresumo">
   <table border=0 style="border: 1px solid black;">
      <tr>
       <td>
        $var dataini=values['dataini']
        $var datafim=values['datafim']
         <div class="row">
          <div class="small-6 columns">
           <label><b>Data inicial</b></label>
           <input type="text" id="datepicker_ini" name="start" id="start" size="10" value=$self.dataini>
          </div>
          <div class="small-6 columns">
           <label><b>Data final</b></label>
           <input type="text" id="datepicker_fim" name="end" id="end" size="10" value=$self.datafim>
          </div>
        </td>
        <td >
          <input type="submit" class="button tiny" value="Buscar">
        </td>
      </tr>
    </table>
    </form>
  <br>

  <table border=0 style="border: 1px solid black;" width="100%">
   <thead>
    <tr border=0>
			<th style='text-align: rigth;'>Data</th>
			<th style='text-align: rigth;'>Total</th>
			<th style='text-align: rigth;'>Aguardando</th>
			<th style='text-align: rigth;'>Na fila</th>
			<th style='text-align: rigth;'>Enviados</th>
			<th style='text-align: rigth;'>Cancelados</th>
			<th style='text-align: rigth;'>Vencidos</th>
			<th style='text-align: rigth;'>Optout</th>
    </tr>
   </thead>

		$for dia in data['dias']:

			$var data=dia['data']
			$var total=dia['total']
			$var aguardando=dia['aguardando']
			$var nafila=dia['nafila']
			$var enviado=dia['enviado']
			$var cancelado=dia['cancelado']
			$var vencido=dia['vencido']
			$var optout=dia['optout']

			<tr border=0 class="$loop.parity">
				<td border=0>
					$self.data
				</td>
				<td border=0 style="text-align: right">
					$self.total
				</td>
				<td border=0 style="text-align: right">
					$self.aguardando
				</td>
				<td border=0 style="text-align: right">
					$self.nafila
				</td>
				<td border=0 style="text-align: right">
					$self.enviado
				</td>
				<td border=0 style="text-align: right">
					$self.cancelado
				</td>
				<td border=0 style="text-align: right">
					$self.vencido
				</td>
				<td border=0 style="text-align: right">
					$self.optout
				</td>
			</tr>

	</table>

	$var foot=footer
		$:self.foot

