$def with (header,footer,values,data,paginas)
	$var head=header
		$:self.head

	<form action="/agendados/" method="GET" id="agendados">
   <table border=0 style="border: 1px solid black;">
      <tr>
       <td>
        $var dataini=values['dataini']
        $var datafim=values['datafim']
        $var telefone=values['telefone']

         <div class="row">
          <div class="small-4 columns">
           <label><b>Data inicial</b></label>
           <input type="text" id="datepicker_ini" name="start" id="start" size="10" value=$self.dataini>
          </div>
          <div class="small-4 columns">
           <label><b>Data final</b></label>
           <input type="text" id="datepicker_fim" name="end" id="end" size="10" value=$self.datafim>
          </div>
          <div class="small-4 columns">
           <label><b>Telefone</b></label>
           <input type="text" id="telefone" name="telefone" size="15" value=$self.telefone>
          </div>

        </td>
        <td >
          <input type="submit" class="button tiny" value="Buscar">
        </td>
      </tr>
    </table>
    </form>
  <br>

  <table border=0 style="border: 1px solid black;" width="100%">
   <thead>
    <tr border=0>
			<th>Id</th>
			<th>Data</th>
			<th>Canal GSM</th>
			<th>Destino</th>
			<th>Mensagem</th>
			<th>Status</th>
			<th>Data envio</th>
			<th>Tentativas</th>
			<th>Tipo</th>
			<th>In&iacute;cio agendado</th>
			<th>Final agendado</th>
    </tr>
   </thead>

		$for smssend in data['sms']:

			$var id=smssend['id']
			$var data=smssend['data']
			$var dongle=smssend['dongle']
			$var numero=smssend['numero']
			$var mensagem=smssend['mensagem']
			$var status=smssend['status']
			$var dataenvio=smssend['dataenvio']
			$var tentativas=smssend['tentativas']
			$var tipoenvio=smssend['tipoenvio']
			$var agendado_ini=smssend['agendado_ini']
			$var agendado_fim=smssend['agendado_fim']

			<tr border=0 class="$loop.parity">
				<td border=0>
					$self.id
				</td>
				<td border=0>
					$self.data
				</td>
				<td border=0>
					$self.dongle
				</td>
				<td border=0>
					$self.numero
				</td>
				<td border=0>
					$self.mensagem
				</td>
				<td border=0>
					$self.status
				</td>
				<td border=0>
					$self.dataenvio
				</td>
				<td border=0>
					$self.tentativas
				</td>
				<td border=0>
					$self.tipoenvio
				</td>
				<td border=0>
					$self.agendado_ini
				</td>
				<td border=0>
					$self.agendado_fim
				</td>
			</tr>
	</table>

<!---
	<p style='text-align: center; font-size: 13px;'>
		$var pg=paginas
			$self.pg
---!>

	<hr>

	<table border=0>
	 <tr>
	  <td>
		 <table border=0>
      <tr>
	 	   <td align="center" colspan=12><b>Status</b></td>
		  </tr>
			<tr>
			 <td><b>A</b></td><td>Aguardando</td>
			 <td><b>C</b></td><td>Cancelado - tentativas esgotadas</td>
       <td><b>F</b></td><td>Na fila</td>
	     <td><b>E</b></td><td>Enviado</td>
	     <td><b>O</b></td><td>Opt-Out</td>
	     <td><b>V</b></td><td>Vencido</td>
	    </tr>
		 </table>
	  </td>
		<td>
     <table border=0>
      <tr>
	 	   <td align="center" colspan=6><b>Tipo de envio</b></td>
		  </tr>
			<tr>
	     <td><b>A</b></td><td>Avulso</td>
	     <td><b>L</b></td><td>Em lote</td>
	     <td><b>W</b></td><td>Webservice</td>
			</tr>
		 </table>
	 </tr>
	</table>

	$var foot=footer
		$:self.foot

